<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" ng-app="ansibleApp">

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" />

        <title>BNC Network Automation</title>

        <base href="/">

        <link rel="icon" type="image/ico" href="/static/img/icons/favicon.ico">

        <link rel="stylesheet" href="static/vendors/angular-material/angular-material.min.css">
        <link rel="stylesheet" href="static/vendors/angular-material-time-picker/dist/md-time-picker.css">

        <link rel="stylesheet" href="/static/css/base.css">

        <script src="static/vendors/angular/angular.min.js" type="text/javascript"></script>
        <script src="static/vendors/angular-animate/angular-animate.min.js" type="text/javascript"></script>
        <script src="static/vendors/angular-aria/angular-aria.min.js" type="text/javascript"></script>
        <script src="static/vendors/angular-material/angular-material.min.js" type="text/javascript"></script>
        <script src="static/vendors/angular-messages/angular-messages.min.js" type="text/javascript"></script>
        <script src="static/vendors/angular-material-time-picker/dist/md-time-picker.js" type="text/javascript"></script>
        <script src="static/vendors/angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="static/vendors/jquery/dist/jquery.min.js" type="text/javascript"></script>
        <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js" type="text/javascript"></script>

        <script src="/static/js/app.js" type="text/javascript"></script>
        <script src="/static/js/controllers.js" type="text/javascript"></script>
        <script src="/static/js/directives.js" type="text/javascript"></script>

    </head>

    <body>
        <div class="fillHeight" ui-view></div>
    </body>
    
</html>
